.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr 1fr 1fr 1fr auto auto;
    /* grid-template-rows: repeat(7, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 60vw;
    margin: auto;

    
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 3px;
}
    
.heading { grid-area: 1 / 2 / 1 / 4; }
.query-selector-wrapper{
    grid-area: 2 / 2 / 2 / 4;
}

.response-presentation-wrapper { grid-area: 3 / 1 / 8 / 5; }