.response-presentation {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 3px;
    overflow: auto;
}

.response-table-wrapper{
    max-height: -webkit-fill-available;
    overflow: auto;
    
    border: 1px;
    border-style: solid;
    border-color: black;
}

div.response-table-wrapper > table{
    margin: 0 auto;

}